html {
    margin: 0;
    padding: 0;
}

body {
    border-radius: 6px;
    padding: 0;
    margin: 0;

    font: 14px 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
}

#titlebar {
    color: #ddd;
    height: 36px;
    font-weight: 100;
    text-align: center;
    border-bottom: 1px solid #444;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #555;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    line-height: 36px;
}

#content {
    position: absolute;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.CodeMirror {
    height: calc(100vh - 37px);
    font-family: "Menlo", "Consolas", "Lucida Console", monospace;
    font-size: 12px;
}